*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/app/src/androidTest/
/app/src/test/
/gradle/
/gradlew
/gradlew.bat
/app/release/app-release.aab
/app/release/output-metadata.json
/app/proguard-rules.pro
